
<!-- タイムライン -->

<!-- render を使うと each文が省略できる？  @tweets → tweet になるっぽい -->

  <div class="row">
    <div class="col-xs-0 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8">

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="media">
            <div class="media-left">
              <a href="#">
                <%= image_tag tweet.user.image_url, class: "media-object" %>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <%= tweet.user.account_name %> <small>@<%= tweet.user.user_name %> <%= time_ago_in_words tweet.created_at %></small>
              </h4>
              <%= tweet.text %>
            </div>
          </div>

        </div>
        <div class="panel-footer text-right"><%= tweet.group.group_name %></div>
      </div>

    </div>
    <div class="col-xs-0 col-sm-2"></div>
  </div>
