<% unless @requests==[] %>
	<p>＜グループへ招待されている一覧＞</p>
	<% @requests.each do |r| %>
		<p><%= r.group.group_name %> (<%= r.requester.nickname %>より)</p>
		<%= link_to '詳細', "/groups/#{r.group.id}" %>
	<% end %>
<% end %>

<p>＜所属グループ一覧＞</p>
<% @member_groups.each do |g| %>
	<p><%= g.group_name %></p>
	<%= link_to '詳細', "/groups/#{g.id}" %>
<% end %>

<%= link_to '[グループをつくる]', new_group_path %>