
<div class="row">
	<div class="col-xs-0 col-sm-2"></div>
	
  	<div class="col-xs-12 col-sm-8">
  	
		<% unless @maji_followers==[] %>

			<%= form_for @group do |f| %>
				<%= f.label 'グループ名' %>
				<%= f.text_field :group_name %><br>
				<%= f.label '招待' %>
				<%= f.collection_check_boxes(:accepter_ids, @maji_followers, :id, :nickname) do |r| %>
				<!-- 先頭に f をつけるなら、第一引数は省略せねばならないっぽい -->
					<%= r.label { r.check_box + r.text } %>
				<% end %>
    			<%= f.submit "つくる" %>
    		<% end %>

    		<% @maji_followers.each do |f| %>
				<p><%= image_tag f[:image_url] %>@<%= f[:nickname] %></p>
			<% end %>


		<% else %>
			<p>Majitterを利用しているフォロワーがいないようです。</p>
			<p>フォロワーにMajitterを紹介してみましょう！</p>
		<% end %>
	</div>
	
	<div class="col-xs-0 col-sm-2"></div>
</div>

