<p>＜グループ新規作成　フォロワーから選んで → (フォロワー)かつ(Majitterユーザー) の表示＞</p>


<p><%= @friends[:users][0][:id] %> : <%= @friends[:users][0][:name] %>@<%= @friends[:users][0][:screen_name] %></p>

<% @friends[:users].each do |friend| %>
	<p><%= image_tag friend[:profile_image_url] %><%= friend[:name] %>@<%= friend[:screen_name] %></p>
<% end %>





<%= form_for @group do |f| %>
	<%= f.label 'グループ名' %>
	<%= f.text_field :group_name %><br>
	<%= f.fields_for :requests do |r| %>
    	<%= r.collection_check_boxes(:user_ids, User.all, :id, :nickname) do |m| %> <!--第1引数を省略したことによってエラーが解決-->
    		<%= m.label { m.check_box + m.text } %><br>
    	<% end %>
    <% end %> 
    <%= f.submit "つくる" %>
<% end %>