<p>＜グループ新規作成　フォロワーから選んで → (フォロワー)かつ(Majitterユーザー) の表示＞</p>


<p><%= @friends[:users][0][:id] %> : <%= @friends[:users][0][:name] %>@<%= @friends[:users][0][:screen_name] %></p>

<% @friends[:users].each do |friend| %>
	<p><%= image_tag friend[:profile_image_url] %><%= friend[:name] %>@<%= friend[:screen_name] %></p>
<% end %>





<%= form_for @group do |f| %>
	<%= f.label :group_name %>
	<%= f.text_field :group_name %><br>
	<%= f.label :requests %>
	<%= f.collection_check_boxes(:accepter_ids, User.all, :id, :nickname) do |r| %>
	<!-- 先頭に f をつけるなら、第一引数は省略せねばならないっぽい -->
		<%= r.label { r.check_box + r.text } %>
	<% end %>
    <%= f.submit "つくる" %>
<% end %>