
<div class="row">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="col-xs-12 col-sm-8">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/groups">グループ</a></li>
      <li class="active">グループ新規作成</li>
    </ol>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
</div>

<div class="row">
	<div class="col-xs-0 col-sm-2"></div>

  	<div class="col-xs-12 col-sm-8">
  	
		<% if @maji_followers.any? %>

			<%= form_for(@group, class: "form-horizontal") do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
				<div class="form_group">
					<%= f.label 'グループ名(20文字まで)', class: "col-xs-12 col-sm-3 control-label", style: "padding-bottom:20px" %>
					<div class="col-xs-12 col-sm-9" style="padding-bottom:20px" >
						<%= f.text_field :group_name, class: "form-control"%>
					</div>
				</div>
				<div class="form_group">
					<%= f.label 'メンバー', class: "col-xs-12 col-sm-3 control-label" %>
					<div class="col-xs-12 col-sm-9">
						<%= f.collection_check_boxes(:accepter_ids, @maji_followers, :id, :user_name) do |r| %>
						<!-- 先頭に f をつけるなら、第一引数は省略せねばならないっぽい -->
							
							<div class="panel panel-default active">
 								<div class="panel-body">
  									<div class="row">
    									
											<div class="col-xs-2 col-sm-2">
												<%= r.check_box(class: "check_box form-control") %>
											</div>
											<div class="col-xs-10 col-sm-10">
												<div class="media">
  													<div class="media-left">
      													<%= image_tag r.object.image_url, class: "media-object" %>
  													</div>
 													 <div class="media-body media-middle">
  														<h4 class="media-heading">
  															<%= r.object.account_name %> <small>@<%= r.object.user_name %></small>
  														</h4>
 														<%= r.object.description %>
 													 </div>
												</div>
											</div>
										
  									</div>
								</div>

							</div>
						<% end %>
					</div>
				</div>
				<div class="form_group">
					<div class="col-xs-offset-0 col-sm-offset-3 col-xs-12 col-sm-9">
    					<%= f.submit "つくる", class: "btn btn-primary" %>
    				</div>
   				</div>
    		<% end %>

		<% else %>
			<p>Majitterを利用しているフォロワーがいないようです。</p>
			<p>フォロワーにMajitterを紹介してみましょう！</p>
		<% end %>
	</div>
	
	<div class="col-xs-0 col-sm-2"></div>
</div>

