<p>＜グループ詳細＞</p>

<p>グループ名 : <%= @group.group_name %></p>
<P>メンバー : </P>
	<% @group.member_users.each do |m| %>
		<p><%= m.nickname %></p>
	<% end %>

<% unless @group.requests==[] %>
	<p>招待中 : </p>
		<% @group.accepters.each do |a| %>
			<p><%= a.nickname %></p>
		<% end %>
<% end %>

<% if @i_am_member %>
	<p>グループタイムライン</p>
	<% if @tweets %>
		<% @tweets.each do |t| %>
			<%= render partial: 'tweets/tweet', locals: {t: t} %>
		<% end %>
	<% else %>
		<p>tweetはまだありません</p>
	<% end %>
<% end %>

<% if @request_for_me %>
	<%= link_to '参加', "/members/#{@group.id}/edit" %>
	<%= link_to '拒否', "/requests/#{@group.id}", method: :delete %>
<% end %>




