
<div class="row">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="col-xs-12 col-sm-8">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <% if @i_am_member %>
        <li><a href="/groups">グループ</a></li>
      <% elsif @request_for_me %>
        <li><a href="/requests">リクエスト</a></li>
      <% end %>
      <li class="active"><%= @group.group_name %></li>
    </ol>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
</div>

<div class="jumbotron">
  	<!-- <div class="container-fluid"> -->
    <div class="row">
    <div class="col-xs-0 col-sm-1"></div>
    <div class="col-xs-12 col-sm-11">
  		<h1><%= @group.group_name %></h1>
  		<% if @request_for_me %>
			 　<%= link_to '参加', "/members/#{@group.id}/edit", class: "btn btn-primary", role: "button" %>
			 　<%= link_to '拒否', "/requests/#{@group.id}", class: "btn btn-default", role: "button", method: :delete %>
			 <!-- 　<p><a class="btn btn-primary" href="/members/#{@group.id}/edit" role="button">参加</a> <a class="btn btn-default" href="/requests/#{@group.id}" role="button"　method="delete">拒否</a></p> -->
		  <% end %>
    </div>
    <div class="col-xs-0 col-sm-1"></div>
    </div>
	<!-- </div> -->
</div>





<div class="row">
	<div class="col-xs-0 col-sm-2"></div>

  	<div class="col-xs-12 col-sm-8">		
  		<%= render 'members' %>
  	</div>
  	
  	<div class="col-xs-0 col-sm-2"></div>
</div>





<% if @i_am_member %>
	<div class="row">
		<div class="col-xs-0 col-sm-2"></div>
  	<div class="col-xs-12 col-sm-8">
      <div class="page-header">
        <h2>グループタイムライン</h2>
      </div>
    </div>
  	<div class="col-xs-0 col-sm-2"></div>
  </div>

  
  <% if @tweets.any? %>
    <div id="timeline">
      <div class="page">
        <%= render @tweets %> 
      </div>
    </div>
    <div class="center">
      <%= paginate @tweets, remote: true %>
    </div>
    
  <% else %>
    <div class="col-xs-0 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8"><p>tweetはまだありません</p></div>
    <div class="col-xs-0 col-sm-2"></div>
  <% end %>

<% end %>