<!DOCTYPE html>
<html>
<head>
  <title>Majitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<% unless logged_in? %>
	<%= link_to 'Twitterでログイン', '/auth/twitter' %>
	<% if flash[:notice] %>
    	<div class="alert alert-success">
      		<%= flash[:notice] %>
    	</div>
 	<% end %>
<% else %>
	<%= link_to 'ログアウト', logout_path %>
	<%= image_tag current_user.image_url %><p><%= current_user.nickname %></p>
  <!-- <%= label_tag current_user.nickname %> -->
<% end %>



<%= yield %>

</body>
</html>
